@import '../variables';
.smallButton,.button{
	background-color:$primaryColor;
	border: none;
	color: white;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.5em;
	margin: 4px 2px;
	border-radius: 50px;
  }
  .smallButton {
	padding: 15px;
	padding-left: 35px;
	padding-right: 35px;
	font-size: 1em;
  }