@import '../../style/variables.scss';
@import '../../style/main';
.card {
	display: flex;
	flex-direction: column;
	width: 280px;
	height: 200px;
	padding: 15px;
	background-color: lighten($color: #ffffff80, $amount: 10);
	p, h3 {
		color: black;
	}

	.outer{
		background-color: red;
	}
	.image{
		width: fit-content;
	}
	.foodCode{
		order:1;

	}
	.foodType{
		order:2;
	}
	.button{
		order:3;
		background-color: red($color: #c31c1c);		
		width: 70px;
		height: 20px;
		font-size: 1em;
		text-align: center;
		line-height: 1em;
		padding: 3px;
		padding-bottom: 5px;
		margin: auto;
	}
	.modal {
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 100;
		align-items: center;
		position: absolute;
		width: 200px;
		background: white;
		border: 1px solid #ccc;
		transition: .6s ease-out;
		box-shadow: 
		  -2rem 2rem 2rem rgba(black, 0.2);
		filter: blur(0);
		transform: scale(1);  
		opacity: 1;
		visibility: visible;
		&.off {
		  opacity: 0;
		  visibility: hidden;
		  filter: blur(8px);
		  transform: scale(0.33);
		  box-shadow: 1rem 0 0 rgba(black, 0.2);
		}
		@supports (offset-rotate: 0deg) {
		  // OLD
		  // offset-rotation: 0deg;
		  // NEW
		  offset-rotate: 0deg;
		  offset-path: path("M 250,100 S -300,500 -700,-200");
		  &.off {
			offset-distance: 100%;
		  }
		}
		@media (prefers-reduced-motion) {
		  offset-path: none;
		}
		label{
			order:1;
		}
		input{
			width: 180px;
			order: 2;
		}
		.autoComplete
		{
			order: 3;
			margin:0;
			border-radius: 0;
		}
		.autoComplete:hover{
			background-color: $hoverColor;
		}
		h2 {
		  border-bottom: 1px solid #ccc;
		  padding: 1rem;
		  margin: 0;
		}
		.content {
		  padding: 1rem;
		}
		.actions {
		  border-top: 1px solid #ccc;
		  background: #eee;
		  padding: 0.5rem 1rem;
		}
	  }
	  
	  #centered-toggle-button {
		position: absolute;
	  }
	  
}
