$textHeaderColor: #FFFFFF;
$textColor: #FFFFFF;
$primaryColor: rgb(173, 206, 66);
$secondaryColor: #F4805A;
$buttonColor: $primaryColor;
$offWhite: rgb(225, 236, 236);
$backgroundColor : #FAFAFA;

$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;