@import '../../styles/variables.scss';
$hero-image-url: "/assets/photos/heroimage.jpg";
.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}
.heroimage {
	background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url($hero-image-url);
	height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 12%;
	position: relative;
	margin:0;
  }
  .heroText {
	text-align: center;
	line-height: 0;
	margin: 0px;
	padding : 25px;
	color: white;
  }
  .containerText {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
  }
  .elem{
	background-image:linear-gradient(rgba(1, 1, 0, 0.7), rgba(1, 0, 0, 0.3));
	padding: 50px;
	padding-top: 30px;
	border-radius: 50px;
  }
  .button{
	background-color: $primaryColor;
	border: none;
	color: white;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 50px;
  }
  .container{
	  background-color: $offWhite;
	  padding: 5px;
  }
  #loading{
	  max-width: 80px;
	  max-inline-size: 80px;
	 width: 80px;
	 height: 80px;
  }
