node_modules
/build
/*.log
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# TODO: Figure out why this doesn't work
*.scss.d.ts

# Local History for Visual Studio Code
.history/